@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Josefin+Sans:wght@500&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif;
    transition: 0.5s;
}
body {
    padding: 5px;
    margin: 5px;
    display: grid;
    background: rgb(255, 255, 255);
}
header{
    background-image: linear-gradient(to bottom right, rgb(0, 230, 218), rgb(0, 96, 223));
    display: flex;
}
nav {
    text-decoration: none;
    color: white;
    font-size: 17px;
    border-radius: 14px;
    flex: 9;
}
nav ul{
    float: right;
    margin-right: 70px;
    margin-top: 10px;
}
nav li{
    display: inline-block;
    margin: 0 10px;
    line-height: 10px;

}
nav ul li {
    list-style-type: none;
    height: auto;
    padding: 4px;
}
nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    list-style-type: none;
    padding: 3px;
    border-radius: 5px;
    color: white;
}
li a:hover, li a:active{
    /*font-size: larger;*/
    cursor: pointer;
    transition: .3s;
    border: 1px solid white;
    border-radius: 6px;
}
h1 {
    text-align: center;
}
.logo {
    width: 100px;
    padding: 10px;
    border-radius: 50px;
    flex: 2;
}
.astulogo{
    flex: 2;
    width: 100px;
    background: white;
    border-radius: 50%;
}
main{
    padding: 5px;
    color: black;
    margin-top: 170px;
    height: inherit;
}
main h1{
    color: white;
    text-align: center; 
    background-image: linear-gradient(to top right,rgb(0, 97, 223),rgb(255, 0, 242) );
    transition: 1s;

}
footer{
    position: relative;
    bottom:0;
    width:100%;
    height: 20px;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    text-align: center;
}
.ins {
    box-shadow: 3px 3px rgb(0, 102, 255);
    border-radius: 0px;
    color: rgb(0, 84, 180);
    list-style-type: none;
    font-weight: bold;
}
.inst {
    color: black;
}
div ul p {
    color: teal;
    text-align: center;
}
span {
    padding: 14px;
}
table {
    background: #008080;
}
td,th {
    border: .2px solid white;
    padding: 14px;
    background: #ffffff;
}
th {
    background: #00cece;
    color: white;
}
th:hover{
    font-size: large;
    cursor: pointer;
    transition: .3s;
}
tr td:hover{
    background: yellow;
    transition: .8s;
    cursor: pointer;
}
.head {
    width: 100%;
}
div ul .teacher li {
    text-decoration: none;
    list-style-type: square;
    justify-content: center;
}
main .library{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3px;
    margin: 5px;
    background: rgb(0, 183, 255);
}
main div a{
    text-decoration: none;
    padding: 5px;
}
main span a{
    text-decoration: none;
    color: #ffffff;
    background: rgb(12, 100, 201);
    padding: 10px;
    margin: 20px;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}
main span a:hover{
    background-image: linear-gradient(to bottom right, rgb(12, 100, 201), rgb(60, 163, 248));
    transition: .3s;
    border-radius: 5px;
    padding: 20px;
    left: 30px;
}
main span a svg{
    width: 30px;
    display: block;
}
main div a span{
    color: #ffffff;
}
button:hover{
    cursor: pointer;
}
.library {
    display: flex;
}
.library div{
    flex: 3;
}
.library span{
    flex: 1;
}
.mate {
    margin: 10px;
    padding: 17px;
    color: #ffffff;
    background-image: linear-gradient(to bottom right, rgb(0, 96, 223),rgb(0, 230, 218));
    height: 100%;
    border-radius: 10px;
}
.mate p{
    padding: 10px;
}
.mate::selection{
    color: rgb(255, 255, 255);
    background: rgba(255, 0, 212, 0.473);
}
.mate p:hover{
    cursor: pointer;
    font-size: 25px;
    transition: 1s;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(0, 96, 223),rgb(0, 230, 218));
    border-radius: 30px 0 30px 0;
}
main h2 b{
    color: green;
}
main h2 b:hover{
    color: tomato;
    font-size: larger;
    transition: .5s;
    cursor: pointer;
}
.arrow{
    /*position: absolute;*/
    text-decoration: none;
    width: 70px;
    color: white;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px; 
    height: auto;
    border: 3px solid white;
    border-radius: 10px;
}
.arrow:hover{
    background: #00a0a0;
}
main a button{
    border: none;
    background: #039797;
    color: #ffffff;
    padding: 10px;
    float: right;
    border-radius: 20px;
    position: fixed;
}
/*@media (max-width: 600px){
header{
    display: flex;
    height: 150px;
}
header nav ul{
    flex: 1;
    float: right;
    display: inline;
    position: relative;
}
header span .space{
    flex: 4;
    width: 140px;
}
.logo{
    flex: 1;
    display: block;
}
}*/
